<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SafeNavConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source={0};Initial Catalog={1}; Integrated Security=true;Persist Security Info=True;User ID={2};Password={3}" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRouteDetailsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61341/RouteDetailsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRouteDetailsService"
                contract="RouteDetailsService.IRouteDetailsService" name="BasicHttpBinding_IRouteDetailsService" />
        </client>
    </system.serviceModel>
</configuration>